* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: url("https://elevenfifty.org/wp-content/themes/elevenfiftyacademy/assets/video/mobile.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: 100%;
    z-index: -3;
}

.dropdown button {
    font-size: 20px;
}

.dropdown {
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: rgb(51, 48, 48);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    z-index: 1;
}

.courses, .admissions {
    position: relative;
}

.main-nav-link:hover {
    background-color: #221f1f;
    display: block;
}

.courses ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.admissions ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.veterans ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.courses a, .admissions a, .veterans a {
    color: white;
    text-decoration: none;
}

.logo-text {
    color: whitesmoke;
    text-decoration: none;
}

.dropdown button {
    background: none;
    border: none;
}

.courses ul:hover,
.admissions ul:hover,
.veterans ul:hover {
    color: lightskyblue;
}

.courses button:hover + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.admissions button:hover+ ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.veterans button:hover + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.discover-future {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 56px;
    font-weight: 750;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, .5);
    padding: .1em 280px .1em .2em;
    /* margin: 590px 0 0 800px; */
    top: 45.2vh;
    left: 31.2vw;
    
}

.learn-more {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 32px;
    font-weight: 715;
    background-color: rgb(219, 52, 52);
    padding: 5px 18px 7px 18px;
    /* margin: 780px 0 0 800px; */
    top: 60.3vh;
    left: 31.2vw;
}

.learn-more:hover {
    background-color: rgb(189, 42, 42);
    transition: .4s;
}

.scroll-button {
    display: flex;
    justify-content: center;
    align-content: center;
}

.scroll-circle {
    position: absolute;
    background: transparent;
    bottom: -4vh;
    left: 50vw;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 8px solid whitesmoke;
    box-shadow: 5px 2px 20px 2px rgba(0, 0, 0, 0.2);
}

.scroll-arrow {
    position: absolute;
    transform: rotate(90deg);
    bottom: -4vh;
    left: 51.1vw;
    font-size: 56px;
    font-weight: 800;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

#container1 {
    text-decoration: none;
    position: absolute;
    height:500px;
    width: 100%;
    background-color: rgb(65, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55.5%;
    z-index: -1;
}

.block1 a {
    position: relative;
    text-decoration: none;
    background-color: whitesmoke;
    height: 380px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px;
    padding: 30px 100px 0 0 ;
    color: black;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.block2 a {
    position: relative;
    text-decoration: none;
    background-color: whitesmoke;
    height: 380px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px;
    padding: 30px 100px 0 0 ;
    color: black;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.block3 a {
    position: relative;
    text-decoration: none;
    background-color: whitesmoke;
    height: 380px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px;
    padding: 30px 100px 0 0 ;
    color: black;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}