* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: url("https://elevenfifty.org/wp-content/themes/elevenfiftyacademy/assets/video/mobile.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: 100%;
    z-index: -3;
}

.dropdown button {
    font-size: 20px;
}

.dropdown {
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: rgb(63, 60, 60);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    z-index: 1;
}

.courses, .admissions {
    position: relative;
}

.main-nav-link:hover {
    background-color: #221f1f;
    display: block;
}

.courses ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.admissions ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.veterans ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.courses a, .admissions a, .veterans a {
    color: white;
    text-decoration: none;
}

.logo-text {
    color: whitesmoke;
    text-decoration: none;
}

.dropdown button {
    background: none;
    border: none;
}

.courses ul:hover,
.admissions ul:hover,
.veterans ul:hover {
    color: lightskyblue;
}

.courses button:hover + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.admissions button:hover+ ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.veterans button:hover + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.discover-future {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 56px;
    font-weight: 750;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, .5);
    padding: .1em 280px .1em .2em;
    /* margin: 590px 0 0 800px; */
    top: 45.2vh;
    left: 31.2vw;
    
}

.learn-more {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 32px;
    font-weight: 715;
    background-color: rgb(219, 52, 52);
    padding: 5px 18px 7px 18px;
    /* margin: 780px 0 0 800px; */
    top: 60.3vh;
    left: 31.2vw;
}

.learn-more:hover {
    background-color: rgb(189, 42, 42);
    transition: .4s;
}

.scroll-button {
    display: flex;
    justify-content: center;
    align-content: center;
}

.scroll-circle {
    position: absolute;
    background: none;
    bottom: -4vh;
    left: 50vw;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 8px solid whitesmoke;
    box-shadow: 5px 2px 20px 2px rgba(0, 0, 0, 0.2);
}

.scroll-arrow {
    position: absolute;
    background: none;
    transform: rotate(90deg);
    bottom: -4vh;
    left: 51.1vw;
    font-size: 56px;
    font-weight: 800;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

#container1 {
    text-decoration: none;
    position: absolute;
    height:630px;
    width: 100%;
    background-color: rgb(49, 46, 46);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 55.5%;
    z-index: -1;
}

.block1 a {
    position: relative;
    text-decoration: none;
    background-color: whitesmoke;
    height: 380px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 12px 12px 12px 12px;
    padding: 10px 10px 10px 10px;
}

.block1:hover {
    opacity: .7;
    transition: ease-in-out;
    transition-duration: .2s;
}

.block1-text h2 {
    color: #2d2d2d;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 10px 0 0 -25px;
    padding-left: 0px;
}

.block1-text p {
    color: #2d2d2d;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    padding-left: 0px;
    margin: 40px 0 0 -25px;
}

.block1-button {
    position: absolute;
    background: #e33e42;
    color: whitesmoke;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-size: 22pt;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    margin: 320px;
    padding-top: 10px;
    width: 440px;
    height: 55px; 
}

.block2 a {
    position: relative;
    text-decoration: none;
    background-color: whitesmoke;
    height: 380px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.block2:hover {
    opacity: .7;
    transition: ease-in-out;
    transition-duration: .2s;
}

.block2-text h2 {
    color: #2d2d2d;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 10px 0 0 -25px;
    padding-left: 0px;
}

.block2-text p {
    color: #2d2d2d;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    padding-left: 0px;
    margin: 40px 0 0 -25px;
}

.block2-button {
    position: absolute;
    background: #e33e42;
    color: whitesmoke;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-size: 22pt;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 320px;
    padding-top: 10px;
    width: 440px;
    height: 55px; 
}

.block3 a {
    position: relative;
    text-decoration: none;
    background-color: whitesmoke;
    height: 380px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.block3:hover {
    opacity: .7;
    transition: ease-in-out;
    transition-duration: .2s;
}

.block3-text h2 {
    color: #2d2d2d;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 26pt;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 10px 0 0 -25px;
    padding-left: 0px;
}

.block3-text p {
    color: #2d2d2d;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    padding-left: 0px;
    margin: 40px 0 0 -25px;
}

.block3-button {
    position: absolute;
    background: #e33e42;
    color: whitesmoke;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    font-size: 22pt;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    margin: 320px;
    padding-top: 10px;
    width: 440px;
    height: 55px; 
}

.container2 {
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 80vh;
    margin-top: 80.3%;
}

.container2 h2 {
    color: #348db9;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-right: 11vw;
}

.event1 a {
    position: relative;
    text-decoration: none;
    background-color: rgb(87, 82, 82);
    height: 140px;
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 37.8vw;
    margin-top: 4vh;
}

.event1 p {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.event1 h2 {
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-left: 65px;
    font-size: 50px;
}

.event2 a {
    position: relative;
    text-decoration: none;
    background-color: rgb(87, 82, 82);
    height: 140px;
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 37.8vw;
    margin-top: 4vh;
}

.event2 p {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.event2 h2 {
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-left: 65px;
    font-size: 50px;
}

.event3 a {
    position: absolute;
    text-decoration: none;
    background-color: rgb(87, 82, 82);
    height: 140px;
    width: 130px;
    margin-left: 37.8vw;
    margin-top: 4vh;
}

.event3 p {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.event3 h2 {
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-left: 65px;
    font-size: 50px;
}

.event1-info {
    position: absolute;
    background: none;
    height: 140px;
    width: 300px;
    margin-left: 43.7vw;
    margin-top: -10.8vh;
}

.event1-info a {
    width: 290px;
    height: 1px;
    color: black;
    background: none;
    border: none;
    margin-left: 0;
    bottom: 30px;
    font-size: 19px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.event1-info p {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    bottom: 75px;
}

.event2-info {
    position: absolute;
    background: none;
    height: 140px;
    width: 300px;
    margin-left: 43.7vw;
    margin-top: -10.8vh;
}

.event2-info a {
    width: 290px;
    height: 1px;
    color: black;
    background: none;
    border: none;
    margin-left: 0;
    bottom: 30px;
    font-size: 19px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.event2-info p {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    bottom: 75px;
}

.event3-info {
    position: absolute;
    background: none;
    height: 140px;
    width: 300px;
    margin-left: 43.7vw;
    margin-top: -3.6vh;
}

.event3-info a {
    width: 290px;
    height: 1px;
    color: black;
    background: none;
    border: none;
    margin-left: 0;
    bottom: 30px;
    font-size: 19px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.event3-info p {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    bottom: -23px;
}

.event-links a {
    position: relative;
    text-decoration: none;
    background: none;
    color: rgb(138, 2, 2);
    width: 300px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 13.3vh;
    padding-left: 43.7vw;
    bottom: 33vh;
}