* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
   }

body {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: url("https://elevenfifty.org/wp-content/themes/elevenfiftyacademy/assets/video/mobile.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: 100%;
    z-index: -3;
}

.dropdown button {
    font-size: 20px;
}

.dropdown {
    position: fixed;
    height: 65px;
    width: 100%;
    background-color: rgb(51, 48, 48);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    z-index: 1;
}

.courses, .admissions {
    position: relative;
}

.courses ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.admissions ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.veterans ul {
    position: absolute;
    background-color: rgb(26, 26, 26);
    margin-top: 8px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.courses a, .admissions a, .veterans a {
    color: white;
    text-decoration: none;
}

.logo-text {
    color: whitesmoke;
    text-decoration: none;
}

.dropdown button {
    background: none;
    border: none;
}

.courses:hover,
.admissions:hover,
.veterans:hover {
    background-color: #221f1f;
    padding: 0;
    margin: 0;
}

.courses ul:hover,
.admissions ul:hover,
.veterans ul:hover {
    color: lightskyblue;
}

.courses button:hover + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.admissions button:hover + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.veterans button:hover + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(12px)
}

.discover-future {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 56px;
    font-weight: 750;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, .5);
    padding: .1em 300px .1em .2em;
    margin: 590px 0 0 800px;
    
}

.learn-more {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 32px;
    font-weight: 715;
    background-color: rgb(219, 52, 52);
    padding: 5px 18px 7px 18px;
    margin: 780px 0 0 800px;
}

.learn-more:hover {
    background-color: rgb(189, 42, 42);
    transition: .4s;
}

.container1 {
        position: absolute;
        height: 500px;
        width: 100%;
        background-color: rgb(51, 48, 48);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
        z-index: -3;
}